# Requirements for production & local development
Django>=5.0,<6.0
djangorestframework>=3.14
django-cors-headers>=4.0
psycopg[binary]>=3.1
djangorestframework-simplejwt>=5.3
PyJWT>=2.6
Pillow>=10.0
qrcode>=7.4
pypdf>=3.0
pdfplumber>=0.10
openpyxl>=3.1
python-docx>=1.0
reportlab>=4.0
celery>=5.3
redis>=5.0
django-celery-beat>=2.5
gunicorn>=21.2
whitenoise>=6.5
requests>=2.31
pyotp>=2.9
cryptography>=41.0
cloudinary>=1.36
django-cloudinary-storage>=0.3
sentry-sdk[django]>=1.40
django-anymail[mailgun]>=10.0
gTTS>=2.4
django-axes>=6.0
pywebpush>=1.14
